body{
    background-color: black;
    color: antiquewhite;
    margin: 0;
   
}

.hello{
    font-family: 'Righteous', cursive;
}
.m{
    text-align: left;
    width: 50%;
    margin:0 auto;
    font-size: 1.3em;
    margin-top: 15px;
    
}
.col-xs-12 img{
    width: 100%;
    
}
.container{
    width: 100%;
    background-color: black;
}
.jumbotron{
    background-color: black
}
.r{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 2.5em
}
